<h2 class="text-center">Tasks To Do</h2>
<table class="table table-bordered border-dark table-fixed">
    <thead>
        <tr>
            <th>Id</th>
            <th>Task Name</th>
            <th>Task Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of taskListParentFalse">
            <td>{{task.id}}</td>
            <td>{{task.taskName}}</td>
            <td>{{task.taskDescription}}</td>
            <td>
                <button class="btn btn-danger mx-2 border-dark" (click)="OnDeleteClick(task.id)"><i class="fa fa-times"
                        aria-hidden="true"></i></button>
                <button class="btn btn-success border-dark" (click)="OnStatusClick(task.id)"><i class="fa fa-check"
                        aria-hidden="true"></i></button>
            </td>
        </tr>
    </tbody>
</table>

<hr>

<h2 class="text-center">Tasks Completed</h2>
<table class="table border-dark table-bordered table-fixed">
    <thead>
        <tr>
            <th>Id</th>
            <th>Task Name</th>
            <th>Task Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of taskListParentTrue">
            <td>{{task.id}}</td>
            <td>{{task.taskName}}</td>
            <td>{{task.taskDescription}}</td>
            <td>
                <button class="btn btn-danger border-dark" (click)="OnDeleteClick(task.id)"><i class="fa fa-times"
                        aria-hidden="true"></i></button>
            </td>
        </tr>
    </tbody>
</table>