<!-- <div>{{inputString}}</div>

<ul>
    <li *ngFor="let name of inputString1" > Hello {{name}}</li>
</ul>

<table class="table table-bordered">
    <thead>
      <tr>
        <th>Index</th>
        <th>Name</th>
        <th>Runs</th>
        <th>Wickets</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of inputString2;index as i">
        <td>{{i+1}}</td>
        <td>{{player.name}}</td>
        <td>{{player.runs}}</td>
        <td>{{player.wickets}}</td>
      </tr>
    </tbody>
  </table> -->


  <hr>

  <button (click)="SendText()" class="btn btn-primary">Click Me</button>

  <!-- {{inputString2 | json}} -->