<div class="page-inner no-page-title">
    <div id="main-wrapper">
        <div class="row justify-content-between">
            <div class="col-6">
                <h4>Pending Transactions</h4>
            </div>
            <div class="col-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item">Transactions</li>
                        <li class="breadcrumb-item active" aria-current="page">Pending</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row justify-content-end mb-3">
                            <div class="col-auto">
                                <form [formGroup]="searchForm">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search" formControlName="searchTerm">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <form [formGroup]="transactionForm">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Sr. No.</th>
                                            <th>Transaction ID</th>
                                            <th>Sender ID</th>
                                            <th>Receiver ID</th>
                                            <th>Date & Time</th>
                                            <th>Amount</th>
                                            <th>Status</th>
                                            <th>Remarks</th>
                                            <th>
                                                <input type="checkbox" (change)="toggleSelectAll($event)" />
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody formArrayName="transactions">
                                        <tr *ngFor="let transaction of filteredTransactions; let i = index" [formGroupName]="i">
                                            <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
                                            <td>{{ transaction.transactionId }}</td>
                                            <td>{{ transaction.senderId }}</td>
                                            <td>{{ transaction.receiverId }}</td>
                                            <td>{{ transaction.dateTime | date:'short' }}</td>
                                            <td>{{ transaction.amount }}</td>
                                            <td>{{ getStatusText(transaction.status) }}</td>
                                            <td>{{ transaction.remarks }}</td>
                                            <td>
                                                <input type="checkbox" formControlName="selectedForBatch" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                        <div class="row justify-content-between mt-3">
                            <div class="col-auto">
                                <button class="btn btn-primary" (click)="processBatch()">Process Transactions</button>
                            </div>
                            <div class="col-auto">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination">
                                        <li class="page-item" [class.disabled]="currentPage === 1">
                                            <a class="page-link" (click)="changePage(currentPage - 1)">Previous</a>
                                        </li>
                                        <li class="page-item" *ngFor="let page of displayedPages" [class.active]="page === currentPage">
                                            <a class="page-link" (click)="changePage(page)">{{ page }}</a>
                                        </li>
                                        <li class="page-item" [class.disabled]="currentPage === Math.ceil(totalTransactions / pageSize)">
                                            <a class="page-link" (click)="changePage(currentPage + 1)">Next</a>
                                        </li>
                                        <li class="page-item" *ngIf="displayedPages[displayedPages.length - 1] < Math.ceil(totalTransactions / pageSize)">
                                            <a class="page-link" (click)="changePage(displayedPages[displayedPages.length - 1] + 1)">...</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
